header {
    /* background: pink; */
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 25;
    font-weight: 700;


    .bar {
        min-height: 70px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(255,255,255,0.2);
        padding: 20px 0;

        .content .toggle {
            display: none;
        }
        .logo {
            max-width: 200px;
        }

        .main-menu {
            flex: 1;
            justify-content: flex-end;


            li {
                padding: 10px 15px;
                margin-right: 10px;


                &:last-child {
                    margin-right: 0;
                }

                a {
                    color: #ffffff;
                    font-family: $barlow;

                    &:hover {
                        color: $main;
                    }
                    span{
                        .menu-logo{
                            height: 18px;
                            width: 18px;
                            fill: $white;
                            &:hover{
                                fill: $main;
                            }
                        }
                    }
                }
            }
        }
    }
    &.white{
        background: $white;
        .bar{
           .main-menu{
               li{
                   a{
                       color: #000;
                       &:hover{
                           color: $main;
                       }
                   }
               }
           } 
        }
    }
}