header {
    /* background: pink; */
    position: absolute;
    top: 0;
    width: 100%;

    .bar {
        min-height: 70px;
        justify-content: space-between;
        align-items: center;

        .content .toggle {
            display: none;
        }

        .main-menu {
            flex: 1;
            justify-content: flex-end;


            li {
                padding: 10px 15px;
                margin-right: 10px;


                &:last-child {
                    margin-right: 0;
                }

                a {
                    color: #ffffff;

                    &:hover {
                        color: #0A46BF;
                    }
                }
            }
        }
    }
}